

<link rel="stylesheet" href="/css/chatbox.css">


<div id = 'chatbox'>
    
    <ul class = 'chat-display'>
         <li class = 'other-message'><span>Anand</span></li>
         <li class = 'self-message'><span>AVT</span></li>
    </ul>

    <form action="" class = 'chat-type'>
        <input type="text">
        <button>SEND</button>
    </form>
</div>