

<li class = "comment">
     
    <p> 
        <% if(locals.user && locals.user.id == comment.user.id){ %>
            <a href="/comment/destroy/<%= comment.id %>">X</a>       
        <%}%> 
        <%= comment.data %> 
    </p>
    <span class = "comment-author"> <%= comment.user.email %> </span>
 </li>