

<link rel="stylesheet" href="/css/footer.css">
<footer>
    <nav>
        <ul>
            <li> <a href="/"> Home </a> </li>
            <li> <a href="/user/profile"> Profile </a> </li>
        </ul>
    </nav>  
</footer>