

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V Socialize</title>
</head>
<body>
    
    <%- include('../partials/_header'); %>  <!-- partials for header-->

    <%- body %>  <!-- variable content comes here -->

    <%- include('../partials/_footer'); %>  <!-- partials for footer-->
</body>
</html>