
    
    <link rel="stylesheet" href="/css/home.css">
    <h1 id = "title" > Posts </h1>
    <form action = "/post/create" method="post">
      <textarea rows = "3" cols = "90" placeholder = "post your message here..."></textarea>
      <br>
      <button type = "submit"> Post </button>    
    </form>

    <ul id = "posts-container">
        <% for(post of locals.posts) {%>
           <li class = "post"> 
             <p class = "message"> <%= post.data %> </p> 
             <span class = "message_author"> <%= post.userID.name %> </span> 
           </li>
        <%}%>    
    </ul>
