
    
    <link rel="stylesheet" href="/css/home.css">
  
     
    <%if(locals.flash.success && locals.flash.success.length > 0){%>
      <h5 class = "success-popup">
        <%= locals.flash.success %>
      </h5>
    <%}%> 
    <main id = "chats">
     
      <h1 class = "title" > Posts </h1>
      <% if(locals.user) {%>
        <form id = "send_post" action = "/post/create" method="post">
          <textarea name="data" rows = "3" cols = "90" placeholder = "post your message here..."></textarea>
          <br>
          <button type = "submit"> Post </button>    
        </form>
      <%}%>

      
      <ul id = "posts-container">
          <% for(post of locals.posts) {%>
            <%- include('./partials/_post.ejs') -%>
          <%}%>    
      </ul>
   </main>

  <%if(locals.all_users){%> 
    <link rel="stylesheet" href="./css/friend_list.css">
  <section id = "friend-list">
    
    <h1 class = "title"> Friends </h1>
    <ul>
       
        <%for(u of locals.all_users){%>
          <%if(u.id != locals.user.id ){%>
            <li> <a href="/profile/<%= u.id %>"><%= u.name %></a> </li>
          <%}%>
        <%}%>
    </ul>
  </section>
  <%}%> 

