

<link rel="stylesheet" href="/css/profile.css">
<h1 id = "title"> profile </h1>

<img src= <%= locals.profile_user.avatar %>>

<ul>
    <li> Name: <%= locals.profile_user.name %></li>
    <li> Email: <%= locals.profile_user.email %></li>
</ul> 
