

<link rel="stylesheet" href="/css/sign_in.css">
<h1 id = "title"> Sign-in </h1>
<form action = "/user/create-session" method = 'POST'>

    <input type="email" name = "email" placeholder = "Your Email" required>
    <input type="password" name = "password" placeholder = "Password" required>
    <button type = "submit"> sign in</button>

</form>

<script>
     <%if(locals.flash.error && locals.flash.error.length > 0){%>
        new Noty({
            theme:'mint',
            type:'error',
            layout:'topRight',
            timeout:1500,
            text:'<%= locals.flash.error %>'
        }).show();
     <%}%>   
</script>