

<link rel="stylesheet" href="/css/profile.css">
<h1 id = "title"> profile </h1>

<ul>
    <li> Name: <%= locals.user.name %></li>
    <li> Email: <%= locals.user.email %></li>
</ul> 

<h3> Update Profile </h3>

<form action="/user/update_profile" method = 'post'>
     <input type="text" placeholder = "New Name" required name = "name">
     <button type="submit">Update</button>
</form>