

#chats{
    width:70%;
}
#friend-list{
    display: inline-block;
    width:30vw;
    height:100%;
    overflow-y: scroll;
    border-left: 1px solid blue;
    .title{
        color:skyblue;
    }
    a{
        color:blue;
        text-decoration: none;
    }
}