header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: linear-gradient(rgb(51, 51, 218), rgb(111, 111, 238));
  height: 12vh;
  min-height: 42px;
}
header #page_heading {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  color: white;
}
header nav {
  display: inline-block;
  width: 120px;
}
header nav ul {
  display: inline-block;
  list-style: none;
  padding-left: 0;
}
header nav ul li {
  display: inline;
  margin-left: 6px;
}
header nav ul li a {
  color: #b1bbf1;
  text-decoration: none;
}