#title {
  color: skyblue;
}

#send_post textarea {
  background-color: #b0b0e7;
}

#send_post button {
  background-color: blue;
  color: white;
  font-weight: bolder;
  font-size: larger;
}

#posts-container {
  border: 2px solid blue;
  list-style: none;
}

#posts-container .post {
  margin-bottom: 9px;
  border: 2px solid skyblue;
}

#posts-container .post .message {
  margin: 0;
}

#posts-container .post .message_author {
  background-color: #2b2b3f;
  color: white;
  font-size: smaller;
}
