* {
  text-align: center;
}

#title {
  color: skyblue;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
form * {
  margin-right: 6px;
  margin-right: 6px;
}
form button {
  width: 90px;
  color: white;
  font-size: larger;
  font-weight: bolder;
  background-color: blue;
  border: 0 solid black;
  border-radius: 2px;
}