

<body style="text-align: center;">
    <h1>
        Hi <%= comment.user.name %>!
    </h1>

    <p style="font-size: 1rem;">
        Your recent<br>
        comment:<strong><%= comment.data %></strong>,<br>
        on the<br>
        post:<strong><%= comment.post.data %></strong><br>
        is sent successfully.
    </p>

    <h3> Thanks! </h3>
</body>